worker_processes auto;

events{
    worker_connections 1024;
}

http{
    include /conf/mime.types;
    include /etc/nginx/proxy;
    index index.html index.htm index.php;
    sendfile on;
    tcp_nopush on;
    root /usr/local/go-web;
    
    #up-stream for reverse-proxy and load-balancing
    upstream go-web{
          server ;
          server ;
    }
    
    server{
           listen 80;
           server_name ;
           location /{
                  #
                  proxy_pass http://go-web;
           }
           
           location /{
                  #response headers communicating how long the response data can be cached
                  add_header Cache-Control public;
                  add_header Pragma public;
                  add_header Vary Accept-Encoding;
                  expires 1M;
           }
    
    
    }

}
